{
    "presets": ["@babel/env"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "components": "./src/components",
                    "assets": "./src/assets",
                    "pages": "./src/pages"
                }
            }
        ]
    ]
}
